@import url(../libs/hamburgers-master/_sass/hamburgers/hamburgers.css);
.header {
    position: relative;
    width: 100%;
    background: #ffffff50;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
&.active{
    display: flex;
}
        &-nav {

            column-gap: 58px;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            justify-content: flex-end;
            text-align: left;

            .manage {
                font-size: 12px;
            }

            a {
                font-family: Segoe UI;
                font-weight: 600;
                font-size: 16px;
                color: #2A3950;
            }

            &:nth-child(2) {
                &::before {
                    position: absolute;
                    left: -9%;
                    content: url('../images/header/case.svg');
                }
            }

            &:nth-child(2) {
                &::after {
                    position: absolute;
                    left: 29%;
                    content: url('../images/header/agent.svg');
                }
            }
        }

        &-logo {
            display: flex;
            justify-content: start;

            h2 {
                font-family: "Myriad Pro";
                font-weight: 600;
                font-size: 30px;
                color: #00ABE6;
                cursor: pointer;

                &:hover {
                    color: $cyan;
                }

                span {
                    color: #2A3950;
                }

                p {
                    font-family: "Myriad Pro";
                    font-size: 8.44538px;
                    color: #2A3950;
                }

            }
        }
    }

    .hamburger {
      position: absolute;
        top: -10px;
        right: 1px;
        display: none;
    }

}