.header {
    position: relative;
    width: 100%;
    background: #ffffff50;

    .navbar {


        display: flex;

        &__logo {
            display: flex;
            justify-content: center;

            h2 {
                font-family: "Myriad Pro";
                font-weight: 600;
                font-size: 30px;
                color: #00ABE6;
                cursor: pointer;

                &:hover {
                    color: $cyan;
                }

                span {
                    color: #2A3950;
                }

                p {
                    font-family: "Myriad Pro";
                    font-size: 8.44538px;
                    line-height: 10px;
                    color: #2A3950;
                }

            }
        }

        &__row {
            display: flex;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;

        &__right {
            display: flex;
            justify-content: flex-end;
            column-gap: 30px;


            &_list {
                display: flex;
                align-self: center;
                column-gap: 30px;

                &-item {
                    display: flex;
                    align-self: center;
                    column-gap: 10px;

                    h2 {
                        font-family: "Segoe UI", sans-serif;
                        font-weight: 600;
                        font-size: 18px;
                        color: #2A3950;
                        cursor: pointer;

                        &:hover {
                            color: $cyan;
                        }
                    }

                    p {
                        font-family: "Segoe UI";
                        font-size: 12px;
                        color: #2A3950;
                        cursor: pointer;

                        &:hover {
                            color: $cyan;
                        }
                    }
                }
            }
        }

    }




    .burger {
        position: fixed;
        top: 30px;
        right: 30px;
        width: 30px;
        height: 30px;
        background-color: $dark;

        &.active {
            background-color: $cyan;
        }
    }

}