.home {
    position: relative;
    background: $dark;
    background-image: url(../images/home/homebg.png );
    background-size: 100% 100%;



   
    &__title {
        text-align: center;
        font-family: DM Serif Display;
        font-size: 84px;
        text-align: center;
        color: #006270;
        background-image: url('../images/home/homebg.png');
        color: transparent;
        -webkit-background-clip: text;
        animation: title 7s infinite ease-in-out;

    }

    @keyframes title {
        from {
            background-position: 0 0;
        }

        to {
            background-position: 100% 100%;
        }
    }

    &__desc {
        transform: translate(40%, 40%);

        font-family: "Segoe UI";
        font-size: 20px;
        width: 660px;
        text-align: center;
        color: #006270;
    }

    &__btnka {
        display: flex;
        justify-content: center;
        margin-top: 60px;


        .btn {
            width: 150px;

        }
    }

    .tabs {


        position: relative;

        &__head {
            display: flex;
            align-items: stretch;
            column-gap: 20px;
        }
.vacation{
    border-radius: 50%;
    width: 300px;height: 200px;
}
        &__toggle {
            margin-left: 30px;
            margin-top: 100px;
            margin-bottom: 0;
            color: $dark;
            font-family: "Segoe UI";
            font-weight: 600;
            font-size: 18px;
            color: #2A3950;
            display: flex;
            width: 150px;
            height: 60px;
            justify-content: center;
            cursor: pointer;
            background: #fff;
            // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 8px;

            &.is-active {

                background: #FFFFFF;
                opacity: 0.7;

            }
        }

        &__box {
            position: relative;
            margin-top: -45px;
            background-color: white;
            width: 100%;
            min-height: 150px;
            // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 20px;

            .checkbox-container {

                position: absolute;

                left: 6%;
                bottom: 8px;
                column-gap: 30px;

                .checkbox {
                    cursor: pointer;
                    width: 16px;
                    height: 16px;

                    &:hover {
                        color: $cyan;
                    }
                }

                label {
                    font-family: "Segoe UI";
                    font-weight: 600;
                    font-size: 15px;
                    color: #009394;
                }


            }

            input {
                font-family: Segoe UI;

                width: 190px;
                height: 36px;
                background: #FFFFFF;
                border: 1px solid #2A3950;
                border-radius: 10px;
                padding: 10px;
                color: $cyan;

                &[type="search"]::-webkit-search-cancel-button {
                    width: 8px;
                    height: 8px;
                    background-color: $dark;
                }

                &:hover {
                    color: $dark;
                    background-color: $cyan;
                }
            }

            select {
                width: 190px;
                height: 36px;
                background: #FFFFFF;
                border: 1px solid #2A3950;
                border-radius: 10px;
                padding: 10px;
                color: $cyan;

                &:hover {
                    color: $dark;
                    background-color: $cyan;
                }

                option {
                    font-size: 15px;
                    color: $cyan;
                    font-family: "Segoe UI";
                    background-color: $dark;
                }
            }

            p {
                font-family: "Segoe UI";
                font-weight: 600;
                font-size: 14px;
                color: #009394;

            }

            .btn {

                button {
                    margin-top: 15px;
                    width: 160px;
                    height: 36px;
                    background-color: $cyan;
                    text-align: center;
                    color: $dark;
                    font-size: 14px;
                    font-weight: bold;

                    &:hover {
                        background-color: $dark;
                        color: $cyan;
                    }
                }

            }

        }



        &__content {
            padding: 30px;
            display: none;

            &.is-active {
                display: block;
            }

        }


        &__title {

            font-family: "Segoe UI";
            font-weight: 600;
            font-size: 30px;
            line-height: 40px;
            color: #2A3950;
        }


    }

}
  