@import url(../libs/slick/slick.css);
@import url(../libs/slick/slick-theme.css);

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}


@import"./variables";
@import "./header";
@import "./home";
@import './hoildays';
@import "./postcard";
@import "./destination";
@import "./packages";
@import "./voyage";
@import "./delight";
@import "./conqueror";
@import './modal';
@import "./media";